<!DOCTYPE html>
<html>
    <head>
        <title>Vue-simple</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.6/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <p>{{ name }} is from {{ place }}</p>
            <p><input v-model="place"/></p>
            <ul>
                <li v-for="item in items">
                    id: {{ item.id }} / color: {{ item.color }}
                    <span  v-if="item.color==='red'"> warm color </span>
                    <span  v-else> cold color </span>
                </li>
            </ul>
        </div>
        <script>
            const app = new Vue({
                el:'#app',
                data: {
                    name: 'janko hrasko',
                    place: 'hraskovo',
                    items: [
                        { id: '123', color: 'red' },
                        { id: '666', color: 'blue' },
                        { id: '777', color: 'white' }
                    ]
                }
            });
        </script>
    </body>
</html>